[submodule "packages/leaf.el"]
	path = packages/leaf.el
	url = https://github.com/conao3/leaf.el.git
[submodule "packages/no-littering"]
	path = packages/no-littering
	url = https://github.com/emacscollective/no-littering.git
