/.cache/
/auto-save-list/
/eln-cache/
/elpa/
/eshell/
/history
/projects
/transient/
/tree-sitter/
/var
/straight/build/
/straight/build-cache.el

/straight/repos/el-get/
/straight/repos/emacsmirror-mirror/
/straight/repos/gnu-elpa-mirror/
/straight/repos/melpa/
/straight/repos/nongnu-elpa/
*.elc
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
*~
artifacts/
